<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
    <head lang="en" th:replace="head :: head"></head>
    <body>
        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            The Email or Password Is Incorrect!
        </div>
        <form th:action="@{/login}" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" id="email" name="email" class="form-control" autofocus required />
            
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" autofocus required />
            
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="remember-me" />Remember Me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
            <div class="margin-top20 text-center">Don't Have An Account? <a th:href="@{/signup}">Create Account</a> </div>
        </form>
    </body>
</html>
